/*
!/app/
/app/*
!/app/bin/
!/app/config/
!/app/migrations/
!/app/public/
/app/public/*
!/app/public/index.php
!/app/src/
!/app/templates/
!/app/tests/
!/app/translations/
!/app/composer.lock
!/app/composer.json
!/app/symfony.lock
!/app/var/
/app/var/*/*
!/app/var/*/.gitkeep


!/docker/
!/docker-compose.yml
!/.dockerignore
!/.php_cs.dist
!/app/phpstan.neon
!/app/phpunit.xml.dist
!/pre-commit
!/Makefile

!**/.gitignore
!**/.gitkeep
!/.env.dist
!**/*.md
