# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    site_domain: '%env(resolve:SITE_DOMAIN)%'
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            string $fromAppEmail: '%env(resolve:MAILER_FROM_EMAIL)%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Model/User/Entity/'
            - '../src/Doctrine/Dbal/Type/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    App\Model\User\Entity\UserRepository: ~

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

# EventSubscriber ------------------------------------------------------------------------------------------------------
    App\Event\Subscriber\Knp\PagerSubscriber:
        tags:
            - { name: 'knp_paginator.subscriber' }
# END EventSubscriber --------------------------------------------------------------------------------------------------
    reset_password_tokenizer_date_interval:
        class: DateInterval
        arguments: ['PT1H']

    App\Model\User\Service\ResetPasswordTokenizer:
        arguments: ['@reset_password_tokenizer_date_interval']
# Utils ----------------------------------------------------------------------------------------------------------------
    App\Utils\Http\Factory\SubDomain:
        factory: App\Utils\Http\Factory\SubDomainFactory::create
        arguments: ['@request_stack', '%env(resolve:SITE_DOMAIN)%']
# END Utils ------------------------------------------------------------------------------------------------------------
