parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    tmpDir: var/cache/dev/phpstan
    paths:
        - src/
        - tests/
    autoload_files:
        - vendor/autoload.php
    bootstrap:
        tests/bootstrap.php
